# Gradle
.gradle
/build

# Intellij
*.iml
/.idea

# Local Configuration
/local.properties
local.properties

# Java Class
*.class

# Android Studio captures
/captures

.DS_Store
.externalNativeBuild
.cxx